<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>


    <br><br>
    <title>Login page</title>
    <br><br>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <style>
    Body { margin: 0; font-family: "Optima", sans serif, color: black;
    }
    h1 { font-size: 40px; color: black; font-family: "Optima", sans serif;
    }
    h2 { font-size: 15px; color: black; font-family: "Optima", sans serif;
    }
    </style>

</head>
<body>
<div align="center">
    <img src="https://scontent.fotp3-3.fna.fbcdn.net/v/t39.30808-6/299463372_416498290457805_9053997516034862056_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeH2zV-R6-gDLeDDVIcuOYaVu3-hlHZKR6m7f6GUdkpHqSehVQh0hvfFi1P5x9iI22e0le5mp-5wd-tD4FNd3S0T&_nc_ohc=0VS8y3Zx1CEAX-1Z4PG&_nc_ht=scontent.fotp3-3.fna&oh=00_AT_7qVlhqLB73_x_rGhPjguuR-e-I37RKoUjP1vZHJFA7g&oe=630ED436" style="width:300px;height:90px">
    <h1>Login</h1>
</div>
<br>
<div class="container" align="center" style="max-width:330px; margin:0 auto">

    <div th:if="${loginError}" class="alert alert-danger" role="alert">
        <p class="error">Wrong user or password</p>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="mx-auto">
            <label class="control-label" for="username"><h2>Username</h2></label>
            <input type="username" id="username" class="from-control" name="username"
                   autofocus="autofocus"/></div>
        <br/>
        <div class="mx-auto">
            <label class="control-label" for="password"><h2>Password</h2></label>:
            <input type="password" id="password" class="from-control" name="password"/></div>
        <br/>
        <div style="height:5px;">

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" >Login</button>
            <form action="@{/register}">
                <button type="button" class="btn btn-success" th:onclick="|window.location.href='/register'|">Register</button>
            </form>
        </div>
    </form>

</div>
</body>
</html>